<% provide(:title, 'Home') %>
<% provide(:pageheading, "HIE Data Pages") %>

<div class="center hero-unit">
  <h2> This is the home page for the HIE Data Pages. </h2>
  
  <p><%= link_to "Help Pages", "/help" %></p>
</div>
